<footer class="p-5 text-center m-3">
  <p class="mb-0">&copy; 2025 DevHäuz The Software Developer's Marketplace. All rights reserved.</p>
  <p class="mb-0">Made with ❤️ by the best software coders in town</p>
</footer>
