<!-- Breadcrumb -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">
        <a class="navbar-brand px-3" href="#">
            <img src="https://truanon.s3.amazonaws.com/img/dogwalklogo.png" alt="logo" height="72" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ol class="breadcrumb mb-0 navbar-nav me-auto">
                <li class="breadcrumb-item <% if (currentPage === 'Home') { %>active<% } %>">
                    <% if (currentPage === 'Home') { %>Home<% } else { %><a href="/">Home</a><% } %>
                </li>
                <li class="breadcrumb-item <% if (currentPage === 'Members') { %>active<% } %>">
                    <% if (currentPage === 'Members') { %>Members<% } else { %><a href="/users">Members</a><% } %>
                </li>
                <% if (currentPage === 'Member Profile' || currentPage === 'Edit') { %>
                    <li class="breadcrumb-item active">Member Profile</li>
                <% } %>
            </ol>
            <% if (!session.user) { %>
                <div class="navbar-nav ms-auto">
                    <ul class="navbar-nav m-1">
                        <li class="breadcrumb-item <% if (currentPage === 'Signup') { %>active<% } %>">
                            <% if (currentPage === 'Signup') { %>Signup<% } else { %><a href="/signup">Signup</a><% } %>
                        </li>
                        <li class="breadcrumb-item <% if (currentPage === 'Login') { %>active<% } %>">
                            <% if (currentPage === 'Login') { %>Login<% } else { %><a href="/login">Login</a><% } %>
                        </li>
                    </ul>
                </div>
            <% } %>

            <% if (session.user) { %>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-decoration-none" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="<%= session.user.photo %>" alt="User Photo" class="rounded-circle border border-primary me-2" style="width: 30px;">
                                <%= session.user.username %>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/users/<%= session.user.username %>">Profile</a></li>
                                <li><a class="dropdown-item" type="submit" href="/users/<%= session.user.username %>/edit">Edit</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            <% } %>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!-- /Breadcrumb -->
