<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shards-ui@3.0.0/dist/css/shards.min.css">
      <script src="https://cdn.jsdelivr.net/npm/shards-ui@3.0.0/dist/js/shards.min.js"></script>
      <link rel="stylesheet" href="/css/styles.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Login</title>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
      <link rel="icon" type="image/x-icon" href="https://truanon.s3.amazonaws.com/img/dogsquare.ico">
      <link rel="icon" type="image/png" sizes="16x16" href="https://truanon.s3.amazonaws.com/img/dogsquare.ico">
      <link rel="icon" type="image/png" sizes="32x32" href="https://truanon.s3.amazonaws.com/img/dogsquare.ico">
      <link rel="icon" type="image/png" sizes="64x64" href="https://truanon.s3.amazonaws.com/img/dogsquare.ico">
      <link rel="icon" type="image/png" sizes="128x128" href="https://truanon.s3.amazonaws.com/img/dogsquare.ico">
      <link rel="icon" type="image/png" sizes="256x256" href="https://truanon.s3.amazonaws.com/img/dogsquare.ico">
   </head>
   <body>

<%- include('header', { currentPage: 'Home' }) %> <!-- Include your header -->
<div class="container-xxl my-5 py-5" style=" border-radius: 8px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);">
   <h1 class="text-center mb-4" style="font-family: 'Roboto Slab', serif; color: #212529;">The Age-Restricted Internet</h1>
   <p class="" style="font-size: 1.1rem; color: #495057;">
   <div class="row justify-content-center">
      <div class="col-md-10">
         <div class="p-4">
      <p class="">
         A vision of privacy & protection for a legally compliant validation of our confidential things like age, education, medical, or employment status.
      </p>
      <h3 class=" mb-3 pt-4" style="font-weight: 600; color: #212529;">Core Principles</h3>
      <p class="">
         A <strong>Service</strong> is private when the <strong>Owner</strong> decides it should not be displayed. Data is private when a <strong>Publishing Service</strong> decides it shall be governed as such.
         <strong>Consuming Services</strong> can onboard new members immediately, granting privileged access in response to changes in real-time. <strong>Owner</strong> updates to privacy and <strong>Service</strong> updates to access take effect immediately.
      </p>
      <p class="px-5 m-3 mx-5 mb-4" style="font-style: italic; font-size: 1rem; color: #495057;">
         “This is not just a technical solution — it’s a logical framework that reflects the natural truths of validation, privacy, and safety; programmatically enforced in code.”
      </p>
      <p class="" style="font-size: 1rem; color: #495057;">
         Respecting this shared vision: <strong>Publishers</strong> define access, <strong>Owners</strong> define privacy, and trusted <strong>Consuming Services</strong> handle only what is authorized.
      </p>
      <p class="" style="font-size: 1rem; color: #495057;">
         <strong>Services</strong> define what are appropriate trusted sources like the "My Health Record" in the National Provider Portal (NPP), Department of Motor Vehicles, Employment or Alumni associations, even GitHub. Rather than relying on static ID cards, <strong>Owners</strong> confirm the accounts behind the data used to print cards made for when data is not available. <strong>Consuming Services</strong> set the legal or policy standards, while <strong>Owners</strong> have choice.
      </p>
      <p class="" style="font-size: 1rem; color: #495057;">
         <h3 class=" mb-3 pt-4" style="font-weight: 600; color: #212529;">DevHäuz Merit Badges & Privileged Feature Access</h3>
      <p class="" style="font-size: 1rem; color: #495057;">
         <strong>Owners</strong> control privacy, granting or revoking as they wish, while <strong>Consuming Services</strong> like this one, are ensured of adherence to legal and regulatory requirements. Meanwhile, <strong>Publishing Services</strong> continue to govern access — all parties enjoy freedom from risk.
      </p>
        <ul class="p-2 px-4 pb-1 mx-5"><li> The DevHäuz <strong>Consuming Service</strong> responds to the existence of a validated and qualified <strong>Publishing Service</strong>.<br>
        <li> DevHäuz does not reveal account details but relies on validation of this specific trusted <strong>Publishing Service</strong> for veracity.<br>
        <li> DevHäuz responds by displaying trust-building details, such as an account holder's privatized birthday, repo count, or full name, as evidence of transparency.<br>
         <li> <strong>Owners</strong> grant requested credentials to access <em>immediate onboarding</em> and <em>privileged features</em> and revoke them if they wish.
</ul>
</p>
      </p>

      <p class="" style="font-size: 1rem; color: #495057;">
         When a validating property is provided, a special achievement badge appears. If not, the badge disappears until the <strong>Owner</strong> specifically grants visibility of a validating property to this <strong>Consuming Service</strong>, DevHäuz.
      </p>
   </div>
            </p>
            <div class="text-center">
               <a target="_blank" href="https://docs.google.com/presentation/d/1MBaGqDw_L_bgJ3y3c-qqSjzDbDutanBYfkpb75pr2pI" class="btn btn-success btn-lg me-2"><i class="fa fa-clone"></i> See Slideshow</a>
               <a target="_blank" href="https://truanon.s3.us-east-1.amazonaws.com/whitepapers/The+Age-Restricted+Internet.pdf" class="btn btn-primary btn-lg me-2">    <i class="fa fa-file-alt "></i> Read Whitepaper
</a>
               <a target="_blank" href="https://github.com/jtayler/trusted#readme" class="btn btn-secondary btn-lg me-2" ><i class="fa fa-code"></i> Get  Code</a>
               <a target="_blank" href="https://vimeo.com/1049232204" class="btn btn-secondary btn-lg me-2"><i class="fa fa-video"></i> Watch Video</a>
          </div>
         </div>
      </div>
   </div>
</div>
      <%- include('footer') %>
   </body>
</html>