/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=IBM+Plex+Mono:wght@400;700&family=Space+Grotesk:wght@400;700&family=Work+Sans:wght@400;600&family=Barlow:wght@400;600&display=swap');

*, html, body. div, p, span{
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, .navbar-brand {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 900;
}

.navbar, .btn, .badge {
    font-family: 'Inter', sans-serif;
}

pre, code, .code-snippet {
    font-family: 'IBM Plex Mono', monospace;
}
selector,* {
  font-family: 'Roboto Slab', sans-serif;
}
.bg-light {
  background-color: #F5EBDB !important;
}
body {
  background-color: #FDF5E6 !important;
}
.card-header, .card-footer {
  background-color: #F5EBDB !important;
}
.card, .list-group li {
  background-color: #FEF9F3 !important;
}

.list-group-item {
  border:none !important;
}

@media only screen and (max-width: 768px) {
  .navbar-brand img {
    display:none !important;
  }


  .card {
    margin-top:2rem;
  }
}
